/* 基本樣式 Base */
/* 標籤基本樣式 */
*,*::before,*::after{
    box-sizing: border-box;
    /* outline: solid; Debug使用 */
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    display: block;
    text-decoration: none;
    color: $neutral-900;
}

body{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}