    <footer class="container py-64 py-md-32">
        <div class="pb-24 pb-md-24 section-lined">
            <nav>
                <ul class="d-flex flex-dir-md-col">
                    <li class="mr-a mb-md-8"><a href="../pages/index.html"><img src="../assets/images/logo.svg" alt="logo"></a></li>
                    <li class="ml-md-12 mb-md-4"><a href="../pages/products.html" class="text-lb-md text-neutral-900 py-12 mr-40">商品列表</a></li>
                    <li class="ml-md-12"><a href="../pages/about.html" class="text-lb-md text-neutral-900 py-12">品牌故事</a></li>
                </ul>
            </nav>
        </div>
        <div class="text-p-sm text-neutral-600 text-align-center pt-32">
            <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </footer>