<!-- 網站導覽列 -->
<nav>
    <ul class="container d-flex align-items-center py-16">
        <li><a href="../pages/index.html"><img src="../assets/images/logo.svg" alt="logo" class="mr-48"></a></li>
        <li><a href="../pages/products.html" class="text-lb-md text-neutral-900 py-12 mr-40 d-sm-none">商品列表</a></li>
        <li class="mr-a"><a href="../pages/about.html" class="text-lb-md text-neutral-900 py-12 d-sm-none">品牌故事</a></li>
        <li><a href="#"><i class="bi bi-person p-12"></i></a></li>
    </ul>
</nav>