/* 個別頁面 Pages */
/* 品牌故事頁面才會用到的 About Page */
.brand-story-hero{
    background-image: url(../assets/images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(#000000, 0.4);
    background-blend-mode: multiply;
    padding: 151px 0px;
}

@media (max-width: 767px){
    .brand-story-hero-md{
        background-image: url(../images/hero-sm.png);
        padding: 87px 0px;
    }

}
.brand-history-list{
    list-style-type: disc;
    padding-left: 24px;
}
.brand-history-label{
    border-left: 1px solid $neutral-900;
}
.brand-concept-li{
    border-left: 3px solid $neutral-300;
}