.index-hero-section{
    background-image: url(/assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 288.5px 200px;
    overflow: hidden;
}

@media (max-width: 767px){
    .index-hero-section-md{
        background-image: url(/assets/images/banner-sm.png);
        padding: 155px 24px;
    }
}

.tag{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary-100;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: $primary-400;
    padding: 8px 12px;
}

.colab-banner{
    background-image: url(/assets/images/banner-co-branded.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 767px){
    .colab-banner-md{
        background-image: url(/assets/images/banner-co-branded.png);
        padding-top: 64px;
        padding-bottom: 64px;
        position: relative;
        overflow: hidden;
    }
}

.star{
    position: absolute;
    top: 68px;
    left: calc(50% - 397px);
}
@media (max-width: 767px){
    .star-md{
        top: 36px;
        left: -39.29px;
    }
}
.sparkle{
    position: absolute;
    bottom: 132px;
    right: calc(50% - 357px);
}
@media (max-width: 767px){
    .sparkle-md{
        top: 36px;
        left: -39.29px;
    }
}
.indicators{
    position: absolute;
    bottom: 8px;
    left: calc(50% - 44px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .indicator{
        width: 24px;
        height: 8px;
        border-radius: 100px;
        background-color: $neutral-600;
    }
    .dot{
        width: 8px;
        height: 8px;
        border-radius: 100px;
        background-color: $neutral-400;
    }
}
@media (max-width: 767px){
    .indicators-md{
        display: none;
    }
}

@media (max-width: 767px){
    .product-row{
        margin-left: -8px;
        margin-right: -8px;
    }
    .product-md-col{
        min-width:316px;
        padding-left: 8px;
        padding-right: 8px;
    }
}


.category-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(#000000, 0.4);
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.inspiration-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.inspiration-col-4{
    width: calc(100% / 12 * 4);
    padding-left: 4px;
    padding-right: 4px;
}
.inspiration-col-6{
    width: calc(100% / 12 * 6);
    padding-left: 4px;
    padding-right: 4px;
}
.inspiration-col-12{
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
}

@media (max-width: 767px){
    .inspiration-row{
        flex-wrap: nowrap;
        margin-right: -8px;
        margin-left: -8px;
        img{
            max-width: 300px;
            margin: 0;
        }
        .inspiration-col-4,
        .inspiration-col-6,
        .inspiration-col-12{
            width: unset;
            padding: 0 8px;
        }
    }
}

@media (max-width: 576px) {
    .page-link-sm{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        li{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            color: $neutral-900;
            width: 50%;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}