<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBNSTEP | 首頁</title>
</head>
  <body>
    <!-- Header -->
    <header>
        <!-- 網站導覽列 -->
        <%- include('./layout/navBar'); -%>
        <!-- Hero Section -->
        <section class="index-hero-section">
          <div>
            <h1 class="display1 text-neutral-white mb-16">URBNSTEP</h1>
            <h4 class="h3 text-neutral-white mb-48">Your Step, Your Statement</h4>
            <button type="button" class="btn btn-primary">立即選購</button>
          </div>
        </section>
    </header>
    <!-- Main -->
    <main>
      <!-- New Arrival -->
      <section class="container py-64">
        <h2 class="text-align-center mb-32"><span class="d-inline-block display2 text-neutral-900 mb-12">New Arrival</span><br><span class="d-inline-block h2 text-neutral-900">新品上市</span></h2>
        <ul class="row flex-wrap">
          <li class="col-6 mb-40">
            <a href="#">
              <img src="../assets/images/new-1.png" alt="new-1" class="mb-12">
              <p class="mb-4">Monoverse</p>
              <p>NT$3,600</p>
            </a>
          </li>
          <li class="col-6 mb-40">
            <a href="#">
              <img src="../assets/images/new-2.png" alt="new-2" class="mb-12">
              <p class="mb-4">PLATFORM 404</p>
              <p>NT$2,600</p>
            </a>
          </li>
          <li class="col-6">
            <a href="#">
              <img src="../assets/images/new-3.png" alt="new-3" class="mb-12">
              <p class="mb-4">URBN Force</p>
              <p>NT$3,200</p>
            </a>
          </li>
          <li class="col-6">
            <a href="#">
              <img src="../assets/images/new-4.png" alt="new-4" class="mb-12">
              <p class="mb-4">Mode90</p>
              <p>NT$4,000</p>
            </a>
          </li>
        </ul>
      </section>
      <!-- Hot Items -->
      <section class="container py-64">
        <h3 class="h2 text-neutral-900 mb-16">熱銷補貨</h3>
        <ul class="row">
          <li class="col-3">
            <a href="#" class="p-relative">              
              <img src="../assets/images/product-3.png" alt="product-3">
              <span class="tag">人氣 No.1</span>
            </a>
          </li>
            <li class="col-3">
            <a href="#" class="p-relative">              
              <img src="../assets/images/product.png" alt="product">
              <span class="tag">人氣 No.1</span>
            </a>
          </li>
                    <li class="col-3">
            <a href="#" class="p-relative">              
              <img src="../assets/images/product-6.png" alt="product-6">
              <span class="tag">人氣 No.1</span>
            </a>
          </li>
                    <li class="col-3">
            <a href="#" class="p-relative">              
              <img src="../assets/images/product-4.png" alt="product-4">
              <span class="tag">人氣 No.1</span>
            </a>
          </li>
      </section>
      <!-- Collaboration Banner -->
      <section class="py-48 text-align-center">
        <div class="colab-banner py-100 p-relative">
          <h2 class="d-flex mb-16 justify-content-center align-items-center gap-24"><span class="display2 text-neutral-white">URBNSTEP</span><span class="h1 text-primary-300">x</span><span class="display2 text-neutral-white">Kevin Chen</span></h2>
          <h4 class="h2 text-neutral-white mb-32">跨界聯名，限量發售</h4>
          <p class="text-p-lg text-neutral-500 mb-48">新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！</p>
          <button type="button" class="btn btn-primary">立即搶購</button>
          <img src="../assets/images/star.svg" alt="star" class="star">
          <img src="../assets/images/sparkle.svg" alt="sparkle" class="sparkle">
          <ol class="indicators">
            <li class="indicator"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
          </ol>
        </div>
      </section>
      <!-- Product Category -->
      <section class="container py-64">
        <h3 class="h2 text-neutral-900 mb-16">依系列選購</h3>
        <ul class="row">
          <li class="col-3">
            <a href="#"  class="p-relative">
              <img src="../assets/images/product-6.png" alt="prduct-6">
              <div class="category-name">
                <h4 class="h3 text-neutral-white mb-8">URBN RUNNER</h4>
                <h5 class="h4 text-neutral-white">慢跑系列</h5>
              </div>
            </a>
          </li>
          <li class="col-3">
            <a href="#"  class="p-relative">
              <img src="../assets/images/product.png" alt="prduct">
              <div class="category-name">
                <h4 class="h3 text-neutral-white mb-8">STREETMODE</h4>
                <h5 class="h4 text-neutral-white">滑板系列</h5>
              </div>
            </a>
          </li>
          <li class="col-3">
            <a href="#"  class="p-relative">
              <img src="../assets/images/product-4.png" alt="prduct-4">
              <div class="category-name">
                <h4 class="h3 text-neutral-white mb-8">CHUNK DISTRICT</h4>
                <h5 class="h4 text-neutral-white">厚底系列</h5>
              </div>
            </a>
          </li>
          <li class="col-3">
            <a href="#"  class="p-relative">
              <img src="../assets/images/product-10.png" alt="prduct-10">
              <div class="category-name">
                <h4 class="h3 text-neutral-white mb-8">COLLAB ZONE</h4>
                <h5 class="h4 text-neutral-white">聯名企劃</h5>
              </div>
            </a>
          </li>
        </ul>
      </section>
      <!-- Inspiration -->
      <section class="container py-64 mb-48">
        <h3 class="h2 text-neutral-900 mb-16">依系列選購</h3>
        <div class="inspiration-row">
          <div class="inspiration-col-4">
            <div class="inspiration-row">
              <img src="../assets/images/inspiration-1.png" alt="inspiration-1" class="inspiration-col-6 mb-8">
              <img src="../assets/images/inspiration-2.png" alt="inspiration-2" class="inspiration-col-6 mb-8">
              <img src="../assets/images/inspiration-3.png" alt="inspiration-3" class="inspiration-col-12">
            </div>
          </div>
          <div class="inspiration-col-4">
            <div class="inspiration-row">
                <img src="../assets/images/inspiration-4.png" alt="inspiration-4" class="inspiration-col-6 mb-8">
                <img src="../assets/images/inspiration-5.png" alt="inspiration-5" class="inspiration-col-6 mb-8">
                <img src="../assets/images/inspiration-6.png" alt="inspiration-6" class="inspiration-col-6 mb-8">
                <img src="../assets/images/inspiration-7.png" alt="inspiration-7" class="inspiration-col-6 mb-8">
                <img src="../assets/images/inspiration-8.png" alt="inspiration-8" class="inspiration-col-6">
                <img src="../assets/images/inspiration-9.png" alt="inspiration-9" class="inspiration-col-6">
            </div>
          </div>
          <div class="inspiration-col-4">
            <div class="inspiration-row">
              <img src="../assets/images/inspiration-10.png" alt="inspiration-10" class="inspiration-col-12 mb-8">
              <img src="../assets/images/inspiration-11.png" alt="inspiration-11" class="inspiration-col-6">
              <img src="../assets/images/inspiration-12.png" alt="inspiration-12" class="inspiration-col-6">
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- CTA Banner -->
    <%- include('./layout/ctaBanner'); -%>
    <!-- Footer -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
