<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBNSTEP | 首頁</title>
</head>
  <body>
    <!-- Header -->
    <header>
        <!-- 網站導覽列 -->
        <%- include('./layout/navBar'); -%>
        <!-- Hero Section -->
    </header>
    <%- include('./layout/footer'); -%>
    <!-- Main -->
    <main>

    </main>
    <!-- CTA Banner -->
    <%- include('./layout/ctaBanner'); -%>
    <!-- Footer -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
